

body
	{
		background: #ffffff;
    font-family: 'Raleway', sans-serif;
		font-weight: 400;
    position: relative;
	}

h2, h3, h4
    {
        font-weight: bold;
    }

p
    {
        line-height: 26px;
    }

/* start all section */
#service, #portfolio, #contact
    {
        padding-top: 100px;
        padding-bottom: 100px;
        position: relative;
    }
/* end all section */

/* start nagivation */
.navbar-default
    {
        background: #fff;
        border: none;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        margin: 0 !important;
        padding: 0;
    }
.navbar-default .navbar-brand
    {
        padding-top: 8px;
        padding-bottom: 60px;
    }
.navbar-default .navbar-nav li a
    {
        font-size: 13px;
        font-weight: bold;
        line-height: 35px;
    }
.navbar-default .navbar-nav li a:hover
    {
        color: #93ca3a;
    }
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #93ca3a;
  background-color: transparent;
}
.navbar-default .navbar-toggle
    {
        border: none;
        padding-top: 16px;
    }
.navbar-default .navbar-toggle .icon-bar
    {
        background: #93ca3a;
        border-color: transparent;
    }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* end navigation */

/* start home */        
#home
	{
      padding-top: 65px;
	}

.flexslider {
  margin: 0 0 60px;
  background: #fff;
  padding: 0;
  position: relative;
  zoom: 1;
  background-color: #371604;
  overflow: hidden;
  margin: 0;
}
.flexslider .slides {
  padding: 0;
  zoom: 1;
}
.flexslider .slides img {
  width: 100%;
  height:80vh;
 
  min-width: 648px;
  min-height: 270px;
  display: block;
}
.flexslider .slides > li {
  display: none;  
  padding: 0;
  position: relative;
  -webkit-backface-visibility: hidden;
}
.flexslider img {
  position: relative;
  width: auto;
  height: auto;
}
.slider-caption {
  color:white;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 7;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexslider .btn
{
    background: #93ca3a;
    border-radius: 0;
    border: 2px solid transparent;
    color: #FFFFFF;
    font-weight: bold;
    margin: 40px 0 0 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 50px;
    width: 250px;
    padding: 12px 10px 10px 10px;
}
.flexslider .btn:hover,
.flexslider .btn:focus {
    background: #fff;
    color: #93ca3a;
    border: 2px solid transparent;
}

/* end home */

/* start service */
#service .media
    {
        padding: 10px;
    }
#service .media .fa
    {
        color: #202020;
        font-size: 40px;
        margin-right: 20px;
    }
#service .media .media-heading
    {
        border-bottom: 2px solid #202020;
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }
/* end service */

/* start disease page */
#disease_page {

    max-width: 100%;
}
#disease_page h3
    {
        color: #93ca3a;
        font-size: 40px;
        padding-bottom: 40px;
        
    }
#disease_page h4
    {
        padding-bottom: 10px;
        font-size: 30px;
    }
#disease_page .progress
    {
        border-radius: 4px;
        background: #ffffff;
        height: 6px;
    }
#disease_page .progress .progress-bar-danger
    {
        background: #93ca3a;
    }
#disease_page .text-top
    {
        padding-top: 50px;
    }
#disease_page span
    {
        display: block;
        padding-bottom: 10px;
    }
#disease_page p, li
    {
        font-size: 22px;
    }
#disease_page small
    {
        font-weight: bold;
        padding-left: 200px;
    }
#disease_page .ill_image
    {  
        padding-top: 30%;
        padding-bottom: 20%;
        padding-left: 5%;
        padding-right: 5%;
        max-width: 100%;
        display: block;
        text-align: right;

    }
#disease_page .prediction .btn{
    background: #93ca3a;
    border-radius: 0;
    border: 2px solid transparent;
    color: #FFFFFF;
    font-weight: bold;

    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 50px;
    width: 50px;
    padding-top: 50%;
}
#disease_page .prediction .btn:hover,
#disease_page .prediction .btn:focus {
    background: #fff;
    color: #93ca3a;
    border: 2px solid transparent;
}
#disease_page .flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 40%;
  padding-bottom: 10%;
  padding-left: 25%;
  padding-right: 25%;
  text-align: right;
}

#disease_page .single-chart {
  width: 200px;
  max-width: 100%;
  justify-content: space-around;
  display: inline-block;
  vertical-align: middle;
}

#disease_page .circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 150px;
  max-height: 250px;
}

#disease_page .circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

#disease_page .circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

#disease_page @keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

#disease_page .circular-chart.orange .circle {
  stroke: #ff9f00;
}

#disease_page .circular-chart.green .circle {
  stroke: #4CC790;
}

#disease_page .circular-chart.blue .circle {
  stroke: #3c9ee5;
}

#disease_page .percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}


/* end disease page */

/* start portfolio */
#portfolio h2
    {
        padding-bottom: 30px;
    }
#portfolio .portfolio-thumb
    {
        overflow: hidden;
        margin: 0;
        position: relative;
    }
#portfolio .portfolio-thumb .portfolio-overlay
    {
        background: #333;
        color: #ffffff;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 60px 60px 0px 60px;
        text-align: center;
        position: absolute;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }
#portfolio .portfolio-thumb:hover .portfolio-overlay
    {
        opacity: 0.9;
        transform: scale(1.1);
    }
#portfolio .portfolio-thumb .portfolio-overlay .fa
    {
        border: 1px solid #ffffff;
        border-radius: 50%;
        color: #ffffff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        margin-right: 6px;
        margin-bottom: 10px;
    }
#portfolio p 
    {
        font-size: 10px;
        line-height: 0.9;
    }
/*filter css*/
.filter-wrapper {
    width: 100%;
    margin: 0 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #999;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
}
/*isotope box css*/
.iso-box-section {
    width: 100%;
    margin: 0 0 24px 0;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
    width: 100%;
    display: block;
    height: auto;
}
/* end portfolio */

/* start contact */
#contact
    {
        background: url(../images/contact-bg.jpeg) no-repeat;
        background-size: cover;
        width: 100%;
        max-width: 100%;
        background-position: 50% 50%;
        color: #ffffff;
    }
#contact h3
    {
        font-weight: bold;
        padding-bottom: 20px;
    }
#contact .fa
    {
        color: #93ca3a;
        font-size: 18px;
        padding-bottom: 14px;
    }
#contact .form-control
    {
        background: #f2f2f2;
        border-radius: 4px;
        box-shadow: none;
        margin-bottom: 20px;
        transition: all 0.4s ease-in-out;
    }
#contact input
    {
        height: 50px;
    }
#contact input[type="submit"]
    {
        color: #202020;
        font-weight: bold;
        margin-bottom: 80px;
    }
#contact input[type="submit"]:hover
    {
        background: #93ca3a;
    }
 #contact .form-control::-moz-placeholder {
  color: #666;
  opacity: 1;
}
#contact .form-control:-ms-input-placeholder {
  color: #666;
}
#contact .form-control::-webkit-input-placeholder {
  color: #666;
}
/* end contact */




