{% extends "disease_page.html" %}
{% block page %}
  <br>
  <br>
  <br>
  <br>
<div class="container">
  <form action="/predict" method="POST">
    <h3>Enter the Following parameters :</h3>
    <hr>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <label for="age">Age</label>
          <input class="form-control" type="number" min="0" required="required" name="age", placeholder="age">
        </div>
        <div class="col-md-4 col-md-offset-4 ">
          <label for="avg_glucose_level">what's your Avrage Glucose Level</label>
          <input class="form-control" type="number" min="0" step="any" id="avg_glucose_level" name="avg_glucose_level" required="required" placeholder="Avrage Glucose Level">
        </div>
          
        <div class="col-md-4 col-md-offset-4">
          <label for="hypertension">Do you have Hypertension</label>
          <select class="form-control" id="hypertension" name = "hypertension" required="required" placeholder="hypertension">
            <option value="1">yes</option>
            <option value="0">no</option>
          </select>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <label for="heart_disease">Do you suffer from a Heart Disease</label>
          <select class="form-control" id="heart_disease" name = "heart_disease" required="required" placeholder="heart_disease">
            <option value="1">yes</option>
            <option value="0">no</option>
          </select>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <label for="gender">Gender</label>
          <select class="form-control" id="Gender" name = "Gender" required="required" placeholder="Gender">
            <option value="1">male</option>
            <option value="0">female</option>
          </select>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <label for="ever_married">are you Married or been married before</label>
          <select class="form-control" id="ever_married" name = "ever_married" required="required" placeholder="ever_married">
            <option value="1">yes</option>
            <option value="0">no</option>
          </select>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <label for="work_type">What's your work type</label>
          <select class="form-control" id="work_type" name = "work_type" required="required" placeholder="work type">
            <option value="0">Private</option>
            <option value="1">Self employed</option>
            <option value="2">Governement job</option>
            <option value="3">take care of the children</option>
            <option value="4">never worked</option>
          </select>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <label for="Residence_type">Residence type</label>
          <select class="form-control" id="Residence_type" name = "Residence_type" required="required" >
            <option value="1">Urban</option>
            <option value="0">Rural</option>
          </select>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <label for="smoking_status">Do you smoke</label>
          <select class="form-control" id="Smoking_status" name = "Smoking_status" required="required" placeholder="Smokingstatus">
            <option value="0">never smoked</option>
            <option value="1">Sometimes</option>
            <option value="2">formerly smoked</option>
            <option value="3">smokes</option>
          </select>
        </div>
    </div>

   
    <br>
    <br>
    <br>
    <div class="col-md-4 col-md-offset-4 text-center">
         <button type="submit" class="btn btn-success" value="submit">predict</button>
    </div>
   
    
</form>
</div>
 <br>
  <br>
  <br>

{% endblock %}
