<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>AltairCare</title>
	<!--

Template 2081 Solution

http://www.tooplate.com/view/2081-solution

-->
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- animate -->
	<link rel="stylesheet" href="./static/css/animate.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="./static/css/bootstrap.min.css">
	<!-- magnific pop up -->
	<link rel="stylesheet" href="./static/css/magnific-popup.css">
	<!-- font-awesome -->
	<link rel="stylesheet" href="./static/css/font-awesome.min.css">
	<!-- google font -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet' type='text/css'>
	<!-- custom -->
	<link rel="stylesheet" href="./static/css/style.css">


</head>
{% block content %}

<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">
	<!-- start navigation -->
	<div class="navbar navbar-fixed-top navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand"><img src="./static/images/logo.png" class="img-responsive"
						alt="logo"></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/" class="smoothScroll">HOME</a></li>
					<li><a href="#service" class="smoothScroll">SERVICE</a></li>
					<li><a href="#portfolio" class="smoothScroll">MODELS</a></li>
					<li><a href="#contact" class="smoothScroll">CONTACT</a></li>

				</ul>
			</div>
		</div>
	</div>
	<!-- end navigation -->

	<!-- start home -->
	<section id="home" class="text-center">
		<div class="templatemo_headerimage">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<img src="./static/images/home.jpg" alt="">
						<div class="slider-caption">
							<div class="templatemo_homewrapper">
								<h1 class="wow fadeInDown" data-wow-delay="2000">AI, The Futur of Health</h1>
								<h2 class="wow fadeInDown" data-wow-delay="2000">
									<span>Work together to make the big healthcare world smaller</span>
								</h2>
								<a href="#service" class="smoothScroll btn btn-default wow fadeInDown"
									data-wow-delay="2000">Our Work</a>
							</div>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</section>
	<!-- end home -->

	<!-- start service -->
	<div id="service">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2 class="wow bounce">Our Services</h2>
				</div>
			</div>
			<br>
			<hr>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="media">
						<div class="media-object media-left wow fadeIn" data-wow-delay="0.1s">
							<i class="fa fa-globe" aria-hidden="true"></i>
						</div>
						<div class="media-body wow fadeIn">
							<h3 class="media-heading"> Improved accessibility</h3>
							<p>AI makes it possible to offer healthcare services to underdeveloped countries and places
								with low accessibility</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="media">
						<div class="media-object media-left wow fadeIn" data-wow-delay="0.3s">
							<i class="fa fa-cog"></i>
						</div>
						<div class="media-body wow fadeIn">
							<h3 class="media-heading">Early diagnosis</h3>
							<p>Helps to discover the disease in the early stages and thus increases the chances of
								recovery</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="media">
						<div class="media-object media-left wow fadeIn" data-wow-delay="0.6s">
							<i class="fa fa-usd" aria-hidden="true"></i>
						</div>
						<div class="media-body wow fadeIn" data-wow-delay="0.3s">
							<h3 class="media-heading">Reduce cost</h3>
							<p>AI minimizes the work of medical personnel and avoids very expensive medical examinations
								and tests</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="media">
						<div class="media-object media-left wow fadeIn" data-wow-delay="0.9s">
							<i class="fa fa-heartbeat" aria-hidden="true"></i>
						</div>
						<div class="media-body wow fadeIn" data-wow-delay="0.6s">
							<h3 class="media-heading">Accurate</h3>
							<p>We use the top performing machine learning algorithms and models to ensure highly
								accurate prediction</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="media">
						<div class="media-object media-left wow fadeIn" data-wow-delay="0.4s">
							<i class="fa fa-medkit" aria-hidden="true"></i>
						</div>
						<div class="media-body wow fadeIn" data-wow-delay="0.3s">
							<h3 class="media-heading">Quick Predictions</h3>
							<p>With our app The patient has only to enter a few parameters/personal information and get
								the diagnosis in seconds</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="media">
						<div class="media-object media-left wow fadeIn" data-wow-delay="0.8s">
							<i class="fa fa-check-circle"></i>
						</div>
						<div class="media-body wow fadeIn" data-wow-delay="0.6s">
							<h3 class="media-heading">No Human Errors</h3>
							<p>The use of AI in medicine reduces the involvement of humans by automating medical
								procedures which eliminates the rate of human error</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end service -->


	<!-- start portfolio -->
	<div id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2 class="wow bounce">Our models</h2>
					<br>
					<br>
					<div class="iso-section wow fadeIn" data-wow-delay="0.6s">

						<div class="iso-box-section">
							<div class="iso-box-wrapper col4-iso-box portfolio-container">

								<div class="iso-box graphic photoshop wallpaper col-md-4 col-sm-6 col-xs-12">
									<div class="portfolio-thumb">
										<img src="./static/images/model_img/liver.jpg" class="fluid-img"
											alt="portfolio img">
										<div class="portfolio-overlay">
											<a href="/liver" class="fa fa-search"></a>
											<h4>Liver disease</h4>
											<p>Check your chance of getting a chronical liver disease</p>
										</div>
									</div>
								</div>

								<div class="iso-box graphic wallpaper col-md-4 col-sm-6 col-xs-12">
									<div class="portfolio-thumb">
										<img src="./static/images/model_img/pneumonia.jpg" class="fluid-img"
											alt="portfolio img">
										<div class="portfolio-overlay">

											<a href="/pneumonia" class="fa fa-search"></a>
											<h4>Pneumonia</h4>
											<p>Check your chance of getting a Pneumonia disease</p>
										</div>
									</div>
								</div>

								<div class="iso-box wallpaper col-md-4 col-sm-6 col-xs-12">
									<div class="portfolio-thumb">
										<img src="./static/images/model_img/kidney.jpg" class="fluid-img"
											alt="portfolio img">
										<div class="portfolio-overlay">

											<a href="/kidney" class="fa fa-search"></a>
											<h4>Kidney disease</h4>
											<p>Check your chance of getting a chronical kidney disease</p>
										</div>
									</div>
								</div>

								<div class="iso-box graphic col-md-4 col-sm-6 col-xs-12">
									<div class="portfolio-thumb">
										<img src="./static/images/model_img/diabete.jpg" class="fluid-img"
											alt="portfolio img">
										<div class="portfolio-overlay">


											<a href="/diabete" class="fa fa-search"></a>
											<h4>Diabete</h4>
											<p>Check your chance of getting a Diabete disease</p>
										</div>
									</div>
								</div>

								<div class="iso-box wallpaper col-md-4 col-sm-6 col-xs-12">
									<div class="portfolio-thumb">
										<img src="./static/images/model_img/stroke.jpg" class="fluid-img"
											alt="portfolio img">
										<div class="portfolio-overlay">


											<a href="/stroke" class="fa fa-search"></a>
											<h4>Stroke</h4>
											<p>Check your chance of getting a Stroke disease</p>
										</div>
									</div>
								</div>

								<div class="iso-box graphic photoshop col-md-4 col-sm-6 col-xs-12">
									<div class="portfolio-thumb">
										<img src="./static/images/model_img/heart.jpg" class="fluid-img"
											alt="portfolio img">
										<div class="portfolio-overlay">

											<a href="/heart" class="fa fa-search"></a>
											<h4>Heart disease</h4>
											<p>Check your chance of getting a heart disease</p>
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end portfolio -->

	<!-- start contact -->
	<div id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 wow fadeInLeft" data-wow-delay="0.6s">
					<h2><strong>AltairCare</strong></h2>
					<p>If you have any question you are free to contact me</p>
					<a href="https://github.com/Aymen1001" class="fa fa-github"></a>

				</div>
				<div class="col-md-3 col-sm-4 wow fadeIn" data-wow-delay="0.9s">
					<address>
						<h3>Contact us</h3>
						<p><i class="fa fa-envelope-o too-icon"></i> AymenMir1001@gmail.com</p>
					</address>
				</div>
				<form action="{{ url_for('messages.msg') }}" method="POST" class="col-md-6 col-sm-4" id="contact-form"
					role="form">
					<div class="col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
						<input name="name" type="text" class="form-control" id="name" placeholder="Name" required>
					</div>
					<div class="col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
						<input name="email" type="email" class="form-control" id="email" placeholder="Email" required>
					</div>
					<div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
						<textarea name="message" rows="5" class="form-control" id="message" placeholder="Message"
							required></textarea>
					</div>
					<div class="col-md-offset-9 col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.3s">
						<input name="submit" type="submit" class="form-control" id="submit" value="Send">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- end contact -->

	{% endblock %}



	<!-- jQuery -->
	<script src="./static/js/jquery.js"></script>
	<!-- bootstrap -->
	<script src="./static/js/bootstrap.min.js"></script>
	<!-- isotope -->
	<script src="./static/js/isotope.js"></script>
	<!-- images loaded -->
	<script src="./static/js/imagesloaded.min.js"></script>
	<!-- wow -->
	<script src="./static/js/wow.min.js"></script>
	<!-- smoothScroll -->
	<script src="./static/js/smoothscroll.js"></script>
	<!-- jquery flexslider -->
	<script src="./static/js/jquery.flexslider.js"></script>
	<!-- Magnific Pop up -->
	<script src="./static/js/jquery.magnific-popup.min.js"></script>
	<!-- custom -->
	<script src="./static/js/custom.js"></script>

</body>

</html>