{% extends "disease_page.html" %}
{% block page %}
<br>
<br>
<br>
<div id="disease_page">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.5s">
						<h3>Pneumonia</h3>
						<h4>Overview</h4>
						<p>	TPneumonia is an infection that inflames the air sacs in one or both lungs. The air sacs may fill with fluid or pus (purulent material), causing cough with phlegm or pus, fever, chills, and difficulty breathing. A variety of organisms, including bacteria, viruses and fungi, can cause pneumonia.

						Pneumonia can range in seriousness from mild to life-threatening. It is most serious for infants and young children, people older than age 65, and people with health problems or weakened immune systems.
						</p>

						
					</div>
					
					<div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.5s">
						<img class="ill_image" src="./static/images/disease_img/thepneumonia1.jpg">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.5s">
						<h4>Symptoms</h4>
						<p>The signs and symptoms of pneumonia vary from mild to severe, depending on factors such as the type of germ causing the infection, and your age and overall health. Mild signs and symptoms often are similar to those of a cold or flu, but they last longer.

						Signs and symptoms of pneumonia may include:
						</p>
					    <ul>
					      <li>Chest pain when you breathe or cough</li>
					      <li>Shortness of breath</li>
					      <li>Confusion or changes in mental awareness (in adults age 65 and older)</li>
					      <li>Fever, sweating and shaking chills</li>
					      <li>Lower than normal body temperature (in adults older than age 65 and people with weak immune systems)</li>
					      <li>Fatigue</li>
					      <li>Nausea, vomiting or diarrhea</li>
		      
		   				 </ul>
					</div>
				</div>
				
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 wow fadeInRight" style="display: inline-block;vertical-align: middle;" data-wow-delay="0.5s">
						<h3>Model</h3>
						<p>To make the diagnosis you need to upload an X-Ray image of your chest</p>
						<p>The model returns NORMAL if there is no sign of pneumonia disease, and PNEUMONIA if it detects pnomonia disease symptoms</p>
						</ul>
					</div>
					<div class="col-md-6 col-sm-6  wow fadeInRight" data-wow-delay="0.5s">
						<div class="flex-wrapper" style="padding-top: 60px;">
						  <div class="single-chart">
						    <svg viewBox="0 0 36 36" class="circular-chart orange">
						      <path class="circle-bg"
						        d="M18 2.0845
						          a 15.9155 15.9155 0 0 1 0 31.831
						          a 15.9155 15.9155 0 0 1 0 -31.831"
						      />
						      <path class="circle"
						        stroke-dasharray="86, 100"
						        d="M18 2.0845
						          a 15.9155 15.9155 0 0 1 0 31.831
						          a 15.9155 15.9155 0 0 1 0 -31.831"
						      />
						      <text x="18" y="20.35" class="percentage">94%</text>
						    </svg>
						    <h4 style="text-align: center;">Accuracy</h4>
						  </div>
						</div>
					</div>
						
					</div>
					
			
					
				</div>
			</div>
			<br>
			<br>
			<br>
			<div class="prediction text-center">
			    <a href="/pneumonia_form" class="smoothScroll btn btn-success wow fadeInDown" data-wow-delay="2000">Predict</a>
		  	</div>
		
		  	<br>
			<br>
			<br>
			<br>
		</div>
		

{% endblock %}






